<%= simple_form_for([@project, @project.tasks.build]) do |f| %>
    <div class="form-inline" style="margin-left: 10%; margin-right: 10%;">
    <div class="form-group mb-2">
    <%= f.text_field :name, placeholder: "New Task" %>
    </div>
    <div class="form-group mb-5">
    <%= f.input :priority, :as => :select, :collection => [nil,"low", "normal", "important", "critical"], selected: "normal" %>
    </div>
    <div class="form-group p-1 mb-5">
    <%= f.input :deadline, as: :date, html5: true %>
    </div>
    <%= button_tag type: 'submit', class: "button postfix mx-3 mb-4" do %>
      <i class="fas fa-chevron-down" aria-hidden="true"></i>
  <% end %>
  </div>
<% end %>