<div class="row">
    <% if task.completed? %>
        <% case task.priority?%>
        <% when nil %>
            <div class="todo_item">
                <p class="pr-nil" style="opacity: 0.4; margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><strike><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></strike></p>
            </div>
        <% when "low" %>
            <div class="todo_item">
                <p class="pr-low" style="opacity: 0.4; margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><strike><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></strike></p>
            </div>
        <% when "normal" %>
            <div class="todo_item">
                <p class="pr-normal" style="opacity: 0.4; margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><strike><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></strike></p>
            </div>
        <% when "important" %>
            <div class="todo_item">
                <p class="pr-important" style="opacity: 0.4; margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><strike><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></strike></p>
            </div>
        <% when "critical" %>
            <div class="todo_item">
                <p class="pr-critical" style="opacity: 0.4; margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><strike><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></strike></p>
            </div>
        <% end %>
        <div id ="task-update" class="trash navs">
                <%= link_to edit_project_task_path(@project, task.id) do %>
                <i class="fa fa-edit"> </i>
                <% end %>
        </div>
        |
        <div class="trash navs">
            <%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you shure?"} do %>
                <i class="fa fa-trash-o"> </i>
                <% end %>
        </div>
    <% else %>
        <% case task.priority?%>
        <% when nil %>
        <div class="todo_item">
                <p class="pr-nil" style="margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>> <%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></p>
            </div>
        <% when "low" %>
            <div class="todo_item">
                <p class="pr-low" style="margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></p>
            </div>
        <% when "normal" %>
            <div class="todo_item">
                <p class="pr-normal" style="margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></p>
            </div>
        <% when "important" %>
            <div class="todo_item">
                <p class="pr-important" style="margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></p>
            </div>
        <% when "critical" %>
            <div class="todo_item">
                <p class="pr-critical" style="margin-left: 2em;" title=<%= "Deadline:#{task.deadline}" %>><%= link_to task.name,  complete_project_task_path(@project, task.id), method: :patch %></p>
            </div>
        <% end %>
            <div id ="task-update" class="trash navs">
                <%= link_to edit_project_task_path(@project, task.id) do %>
                <i class="fa fa-edit"> </i>
                <% end %>
            </div>
            |
            <div class="trash navs">
                <%= link_to project_task_path(@project, task.id), method: :delete, data: { confirm: "Are you shure?"} do %>
                <i class="fa fa-trash-o"> </i>
                <% end %>
            </div>

    <% end%>
</div>

<%# link_to "Edit", some_path %>