<% if @project.errors.any? %>
    <div class="alert alert-danger">
        <h5><%= t('common.errors') %></h5>
        <ul>
            <% @project.errors.full_messages.each do |message|%>
                <li style="font-size: 0.5em;"><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for(@project) do |f| %>
<table style="margin-left: 20%">
<th>
    <%= f.hidden_field :user_id, :value => current_user.id %>   
</th>
<th>
    <%= f.text_field :name, placeholder: "Project Name",style: "font-size: 0.5em; font-weight: bold;" %>
    </th>
<th>
    <%= f.button :submit,class: "button" do %>
      <i class="fas fa-chevron-down"  style="font-size: 0.5em; padding-bottom: 1em;"></i>
    <% end %>
</th>
</table>
<% end %>