<p id="notice"><%= notice %></p>

<p>
    <strong>Title:</strong>
    <%= @project.name %>
</p>
 
<div id="projects_wrapper">
    <%= render @project.tasks %>
    <div id="form">
        <%= render "tasks/form" %>
    </div>
</div>

<%= link_to "Edit", edit_project_path(@project) %> |
<%= link_to "Back", :back %>