<p id="notice"><%= notice %></p>

<p style="font-size: 2em; text-align: center;">
    <strong><%= render "projects/form" %></strong>
</p>
<div id="projects_wrapper">
    <%= render @project.tasks %>
    <hr>
    <div id="form">
        <%= render "tasks/new_form" %>
    </div>
</div>
<div style="text-align: center; font-size: 2em;" class="lk">
<%= link_to root_path do %>
    <i class="fas fa-arrow-left" title="Back"></i>
<% end %>
</div>